<h3><i class="i fas fa-book-reader"> </i>
    StoryBooks
    <div class="section">
        <p class="lead">
            Create Public and private stories
        </p>
        <div class="divider"></div>
        <div class="section">
            <a href="/auth/google" class="btn darken-1">
            <i class="fab fab fa-google left"> Login with Google</i></a>
        </div>
</div></h3>